/* -------------------------------------------------------------------------
*   ACE DOCUMENTATION
*   Stylesheet
*   @author Vantage Design
*   @version 1.0.4
*   @license https://github.com/vantagedesign/ace-documentation/blob/master/LICENSE
* ------------------------------------------------------------------------ */

$primary:       #333333;
$secondary:     #6610f2;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #343a40;

@import "bootstrap/bootstrap";

/* Typography styling */
.main > h1{
    padding-top: 2rem;
}

.main > h2{
    padding-top: 4rem;
    margin-top:-1rem;
}

.main > h3, .main > h4, .main > h5, .main > h6{
    padding-top: 4rem;
    margin-top:-3rem;
}

.haschildren ul{
    color: gray;
    display:none;
}

.haschildren.active ul, .haschildren.parent ul{
    display:block;
}

.highlight > pre {
    padding:15px;
}

.navbar-brand img {
    height: 3rem;
}

/* Side navigation menus */
.docs-sidenav span.badge.badge-primary, .docs-toc span.badge.badge-primary{
    font-size: 10px;
}

@media (min-width: 768px) {
    .docs-sidenav, .docs-toc{
        height: calc(100vh - 4rem);
        top:4rem;
        position: sticky;
    }
    .docs-sidenav .navbar, .docs-toc .navbar{
        padding-right: 0;
    }
    .docs-sidenav .navbar-collapse, .docs-sidenav .navbar-nav{
        width: 100%;
    }
    .docs-sidenav .nav-link, .docs-toc li a{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .docs-sidenav .nav-link > span.badge.badge-primary, .docs-toc li a > span.badge.badge-primary{
        margin-top: 5px;
    }
}

@media (min-width: 1200px) {
    .docs-toc.large{
        height: calc(100vh - 4rem);
    }
}

@media (max-width: 1200px) {
    .docs-toc.large{
        display:none;
    }
}

.docs-toc{
    padding-top: 10px;
}

.docs-toc a{
    font-size: 14px;
    color: gray;
}

.docs-toc a:hover{
    color: #333;
}

.docs-toc ul{
    list-style: none;
    padding-left:8px;
    margin-top:3px;
}

.docs-toc ul:first-child{
    padding-left:0;
}

/* Table tweak for JavaScript methods */
table td:first-child > code{
    word-break: normal;
}

table > tbody > tr > td, .bd-content > table > tbody > tr > th, .bd-content > table > tfoot > tr > td, .bd-content > table > tfoot > tr > th, .bd-content > table > thead > tr > td, .bd-content > table > thead > tr > th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
