<!-- Load required Javascript -->

<script src="{{ .Site.BaseURL }}lib/jquery.min.js"></script> <!-- jQuery.js -->
<script src="{{ .Site.BaseURL }}lib/popper.min.js"></script> <!-- Popper.js - dependency of Bootstrap -->

<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script> <!-- Other javascript -->

{{ partial "search.html" . }}

<!-- Plugin: clipboard -->
<script type="text/javascript" src="{{"plugins/clipboard.js" | relURL}}"></script>
<script>
  new ClipboardJS('.btn');
</script>
