<!-- Plugin: search -->
<!--
<script type="text/javascript" src="{{"plugins/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"plugins/auto-complete.js" | relURL}}"></script>
<link href="{{"plugins/auto-complete.css" | relURL}}" rel="stylesheet">
<script type="text/javascript">
  {{ if .Site.IsMultiLingual }}
      var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  {{ else }}
      var baseurl = "{{.Site.BaseURL}}";
  {{ end }}
</script>
<script type="text/javascript" src="{{"plugins/search.js" | relURL}}"></script>
-->
